@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
    background-color: var(--color-primary);
    font-family: "Plus Jakarta Sans", sans-serif;
    overflow-x: hidden;
}

@theme{
    --color-primary: #3674B5;
    --color-secondary: #578FCA;
    --color-tertiary: #F5F0CD;
    --color-textColor: #F5F0CD;
    
}